
h1{
    color: green;
    text-align: center;
}

p{
    color: #4a2c2c;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}

a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: goldenrod;
    font-family: 'Times New Roman', Times, serif;
    
}