li{
    background-color: red;
}

li{
    background-color: blue;
}


 .css{
    background-color: rebeccapurple;
}

#html.html{
    background: lightcoral;
}


body{
    background-color: green;
    color: #fff;
}