
span{
    background-color: green;
    position: relative;
    top: 10px;
    bottom: 45px;
}

ul{
    background-color: brown;
    position: relative;
}
.css-element{
    background-color: blue;
    left: 150px;
}