
body{
    background-color: gray;
}

li{
    font-size: 20px;
    font-weight: 700;

}

.html{
    color: #DD4B25;
}

.css{
    color: #254BDD;
}

.javascript{
    color: #EFD81D;
}

.tailwind{
    color: #00fffb;
}

.react{
    color: #1370c1;
}


#html{
    background-color: orange;
}

#css{
    background-color: blue;
}

#javascript{
    background-color: #776a0e;
}

#tailwind{
    background-color: #a94b34;
}

#react{
    background-color: #25dda3;
}



[class] {
    background-color: #1f1f1d;
}

[gurnav="developer"]{
    background-color: cyan;
}

ul p{
    background-color: green;
}

h1:hover{
    color: blue;
}